@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Navbar */

.navbar {
  width: 100vw;
  height: 75px;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0 100px;
  border-bottom: 1px solid #03254E;
}

.navbar--logo,
.navbar--search {
  display: flex;
  align-items: center;
}

.navbar--logo--img {
  width: 50px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav>ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 75%;
}

li,
ul {
  color: black;
}

.navbar--search {
  background-color: rgba(235, 155, 240, 0.25);
  border-radius: 20px;
  height: 40px;
  width: 250px;
  justify-content: center;
}

.navbar--search>input {
  width: 80%;
  height: 80%;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0 10px;
}

.navbar--searchicon {
  cursor: pointer;
}

/* HOME */

.home {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
  padding-left: 100px;
}

.infos>h1 {
  margin-bottom: 20px;
}

li {
  list-style: none;
}

/* TOP RATED */

.tr {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 100px;
  justify-content: center;
}

.tr--movie--poster {
  width: 100%;
  height: 475px;
}

span {
  color: white;
  padding: 0 5px;
  text-align: center;
  margin-right: 5px;
  border: 1px solid #fff;
  font-size: 0.8rem;
  background-color: #202020;
}

.tr--card>span:not(:last-child) {
  margin-right: 5px;
}

.tr--card {
  padding: 5px;
  width: 275px;
}

.tr--card>h2 {
  max-width: 275px;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  height: 30px;
}

.tr--movie--infos {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
}

.tr--movie--star {
  width: 20px;
}

.tr--movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #03254E;

}

.tr--card>button {
  width: 100%;
  height: 50px;
  background-color: #03254E;
  font-weight: bold;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}


/* LOADER */

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

/* MOVIE */

.movie {
  padding: 50px 100px;
  display: flex;
  gap: 50px;

}

.movie--poster {
  height: 600px;
  border-radius: 50px;
}

.movie>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie>div>h1 {
  margin-bottom: 25px;
}

.movie>div>ul {
  display: flex;
  gap: 10px;
}

.movie>div>ul>li {
  border: 1px solid white;
  border-radius: 10px;
  padding: 0 5px;
  color: white;
}

.cast--p {
  overflow: hidden;
}

.person--img, .cast {
  width: 155px;
}

.movie--cast {
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  font-size: 0.85rem;
}

h3>span {
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
}

/* FOOTER */

footer {
  text-align: center;
}